*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.conteiner{
	height: 570px;
	padding: 60px;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

.conteiner-primera-parte{
	top: 60px;
}

.titulo{
	color: rgb(93, 88, 88);
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}

/* Acá está la imágen de portada del inicio */

header{
	width: 100%;
	height: 310px;
	background: #cc2b5e;  
	background-image:url(imagenesvalen/portadaburger.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

nav{
	text-align:right;
	padding:30px 50px 0 0;
}

nav > a{
	color: #fff;
	font-weight:300;
	text-decoration:none;
	margin-right:10px;
}

nav > a:hover{
	text-decoration: underline;
}

header .text-header{
	display: flex;
	height: 150px;
	width: 100%;
	align-items:center;
	justify-content:center;
	flex-direction: column;
	text-align:center;
}

.text-header h1{
	font-size:90px;
	color: rgb(251, 243, 252);
	height: 250px;
}

.text-header h2{
	font-size:35px;
	font-weight:300;
	color: white;
	height: 600px;
}

/*about us */

.conteiner-sobre-nosotros{
	cursor: pointer;
	display: flex;
	justify-content:space-around;
}

.imagen-about-us{
	width: 30%;
	margin-left: 130px;
	transition: width 0.5s;
}

.imagen-about-us:hover{
	width: 480px;
}

.sobre-nosotros .contenido-text{
	width:48%;
}

.conteiner-text h3{
	margin-bottom: 20px;
}

.conteiner-text h3 span{
	background: #55524b;
	color: #fff;
	border-radius: 10%;
	display:inline block;
	text-align: center;
	width: 30px;
	height:30px;
	padding:5px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
	margin-right: 5px;
	margin-left: 20px;
}

.wave{
	position: absolute;
	top: 220px;
	width: 100%;
	height: 20%;
}

.conteiner-text p{
	padding: 0px 0px 30px 15px;
	font-weight:300;
	text-justify: auto;
	margin-right: 100px;
}


/* Gallery */

.portafolio{
	background:#f2f2f2;
}

.galery-port{
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
}                              

.imagen-port{
	width: 24%;
	margin-bottom: 10px;
	height: 200px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}       

.imagen-port img{
	width:100%;
	height:100%;
	object-fit: cover;
	display: block;
}  

.hover-galery{
	position: absolute;
	width:100%;
	height:100%;
	top: 0;
	transform: scale(0); 
	background: #55524b;
	opacity: 30%;
	transition: transform 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.imagen-port:hover .hover-galery{
	transform: scale(1); 
}

.hover-galery img{
	width: 150px;
}

.hover-galery p{
	color: #fff;
}


/* Fondo de la carta de valoración de los clientes */

.card{
	margin-left: 300px;
	margin-bottom: 80px;
	background:rgb(63.75, 63.75, 63.75);
	display: flex;
	width: 60%;
	height: 130px;
	align-items: center;
	justify-content: space-around;
	border-radius: 5px;
	box-shadow: 0 0 6px 0 rgba(0 0 0 .6);
}

/*La imagen de la carta de valoración*/

.card img{
	margin-left: 50px;
	width: 80px;
	height: 80px;
	object-fit: cover;
	border: 3px solid #fff;
	border-radius: 50%;
	display: block;
}

/*lo escrito en la carta de valoración*/

.card > .conteiner-text-card{
	width:80%;
	color:#fff;
}

/* Our team*/

.about-service{
	background: #f2f2f2;
	padding-bottom:30px;
}

.servicio-cont{
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sericio-ind{
	width: 25%;
	text-align: center;
}

.conteiner-1{
	height: 620px;
	padding: 60px;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

.conteiner-2{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

/*tamaño de las 3 imagenes finales y su separación*/
.servicio-ind img{
	width: 300px;
	height: 200px;
	padding-right: 25px;
	padding-left: 60px;
	transition: 0.5s;
}

/*tamaño que le da la animación al pasarle por encima a las las 3 imagenes finales*/
.servicio-ind img:hover{
	width: 285px;
	height: 190px;
}

.servicio-ind h3{
	margin-bottom: 10px;
	text-align: center;
}

.servicio-ind p{
	font-weight: 300;
	text-align: center;
}

.imagen-boom-burger{
	margin-right: 30px;
}

.imagen-vegan-burger{
	margin-right: 45px;
}

.imagen-chesse-burger{
	margin-right: 35px;
}


/* footer*/

footer{
	background: #414141;
	padding:60px 0;
	margin: auto;
	overflow: hidden;
}

.conteiner-footer{
	display: flex;
	width: 90%;
	justify-content: space-around;
	margin: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;
}

.conteiner-foo{
	text-align: center;
}

.conteiner-foo h4{
	color:#fff;
	border-bottom: 3px solid rgb(0, 0, 0);
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.conteiner-foo p{
	color: #ccc;
}

.titulo-final{
	text-align: center;
	font-size: 24px;
	margin: 20px 0 0 0;
	color: #9e9797;
}

.clientes-conteiner{
	margin-top: 50px;
}
/*boton de ir arriba proximamente*/
 